
body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
}

header {
    background-color: #333;
    padding: 15px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 10px;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
    margin: 0 15px;
}

nav a:hover {
    background-color: #555;
}

.hero-image {
    background-image: url('hero image');
    background-size: cover;
    background-position: center;
    height: 400px; 
    width: 400px; 
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
}

footer {
    
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


